version: "3.8"

services:
  backend:
    build: ./backend
    container_name: backend_app
    ports:
      - "5000:5000"
    networks:
      - app_network
    restart: always

  frontend:
    build: ./frontend
    container_name: frontend_app
    networks:
      - app_network
    restart: always

  database:
    image: mysql:8.0
    container_name: mysql_db
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - app_network
    restart: always

  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - frontend
      - backend
    networks:
      - app_network
    restart: always

volumes:
  db_data:

networks:
  app_network:

